@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --brand: #6594EE;
  --primary: #161719;
  --primary-light: #1D2028;
  --secondary: #BAC1D1;
  --secondary-accent: #FEFEFF;

  /* spacing */
  --small: 20px;
  --medium: 60px;
  --section: 160px;
}

body {
  color: var(--secondary);
  background: var(--primary)
}