@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #161719;
  --secondary: #BAC1D1;
  --secondary-bold: #FEFEFF;
}

body {
  color: var(--secondary);
  background: var(--primary)
}